@using Wikkit.Data;
@inject WikipediaDataService wikipediaDataService

<div class="articlecard bg-prim" @onclick=OpenLink>
    @if (ArticleData == null)
    {
        <PlaceholderContainer Animation="PlaceholderAnimation.Glow">
            <Placeholder Width="PlaceholderWidth.Col7" />
            <Placeholder Width="PlaceholderWidth.Col9" />
        </PlaceholderContainer>
    } else
    {

        <div>

            @if (LargeImage && ArticleData.images != null)
            {
                <img class="card-img-top" src="@ArticleData.images[0].url" />                    
            }

            <div class="card-title"><strong>@ArticleData.title</strong></div>

            @if (ArticleData.thumbnail != null)
            {
                <img class="card-thumb" src="@ArticleData.thumbnail.source" />
            }
            @if (FirstParagraph != null && FirstParagraph.Length > 0)
            {
                <p style="margin: 0">@FirstParagraph</p>
            }
        </div>         
  

    }
</div>

@code {
    [Parameter]
    public ArticleHeaderData HeaderData { get; set; }

    [Parameter]
    public ArticlePageData ArticleData { get; set; }

    [Parameter]
    public bool LargeImage { get; set; }

    [Parameter]
    public string Title { get; set; }

    public string FirstParagraph;
    private const int minParagraphLength = 50;
    private const int maxParagraphLength = 400;

    protected override async Task OnInitializedAsync()
    {
        if (HeaderData == null & ArticleData == null)
        {
            ArticleData = new();
        }

        if (ArticleData == null)
            ArticleData = await wikipediaDataService.GetArticleInfo(HeaderData.id);

        FirstParagraph = GetFirstParagraph();

        if (Title != null)
            ArticleData.title = Title;

    }

    private string GetFirstParagraph()
    {
        if (ArticleData == null) return "";

        if (ArticleData.extract == null || ArticleData.extract.Length == 0)
        {
            return ArticleData.description;
        }

        int safety = 0;

        string output = ArticleData.extract;

        while (output.Length > maxParagraphLength & safety < 100)
        {
            int lastPeriodIndex = output.LastIndexOf('.');
            if (lastPeriodIndex == -1)
                break;

            output = output.Substring(0, lastPeriodIndex);

            safety++;
        }

        if (output.Trim() == "")
            return ArticleData.description;

        return output;
    }

    private void OpenLink()
    {

        if (ArticleData.fullurl == null || ArticleData.fullurl.Length == 0) return;

        Uri uri = new Uri(ArticleData.fullurl);
        Browser.Default.OpenAsync(uri, BrowserLaunchMode.SystemPreferred);
    }

}
