@inherits LayoutComponentBase

<CascadingValue Value="this">
 
    <div class="bg-black">

        <div class="bg-dark">        
            <NavMenu PageTitle=@_pagetitle />
        </div>

        <main class="overflow-auto" @onscroll=@OnScroll>
            <article class="px-2">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code
{
    private string _pagetitle;

    public bool HasScrolled { get; set; }

    public string PageTitle
    {
        get => _pagetitle;
        set
        {
            _pagetitle = value;
            InvokeAsync(() => StateHasChanged());
        }
    }

    private void OnScroll()
    {
        HasScrolled = true;
    }


    //public int ScrollTop { get; set; }

    //private async Task OnScroll(EventArgs e)
    //{
    //    ScrollTop = await JSRuntime.InvokeAsync<int>(
    //       "eval", "document.scrollTop");
    //}

}
