@inherits LayoutComponentBase

<CascadingValue Value="this">
 
    <div class="app-container bg-app font-col">
       
        <NavMenu PageTitle=@_pagetitle />

        <main @onscroll=@OnScroll>
            <article>
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code
{
    private string _pagetitle;

    public bool HasScrolled { get; set; }

    public string PageTitle
    {
        get => _pagetitle;
        set
        {
            _pagetitle = value;
            InvokeAsync(() => StateHasChanged());
        }
    }

    private void OnScroll()
    {
        HasScrolled = true;
    }

    protected override void OnParametersSet()
    {
        HasScrolled = false;
    }

}
