@inherits LayoutComponentBase

<CascadingValue Value="this">
 
    <div class="app-container bg-app font-col">
       
        <NavMenu PageTitle=@_pagetitle @ref="navMenu" />

        <main @onscroll=@OnScroll @onclick=@ForceMenuCollapse>
            <article>
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code
{
    private string _pagetitle;

    public bool HasScrolled { get; set; }

    protected NavMenu navMenu;

    public string PageTitle
    {
        get => _pagetitle;
        set
        {
            _pagetitle = value;
            InvokeAsync(() => StateHasChanged());
        }
    }

    private void OnScroll()
    {
        HasScrolled = true;

        ForceMenuCollapse();

    }

    protected override void OnParametersSet()
    {
        HasScrolled = false;
    }

    private void ForceMenuCollapse()
    {
        navMenu.ForceCollapse();
    }

}
