@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div class="page bg-black min-vh-100">    

        <div class="bg-dark">        
            <NavMenu PageTitle=@_pagetitle />
        </div>

        <main>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-2">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code
{
    private string _pagetitle;

    public string PageTitle
    {
        get => _pagetitle;
        set
        {
            _pagetitle = value;
            InvokeAsync(() => StateHasChanged());
        }
    }
}
