@inherits LayoutComponentBase

<CascadingValue Value="this">
 
    <div class="bg-app" style="height: 100%; width: 100%; position: absolute; border: solid; padding: 0">

        <div class="bg-dark" style="position: absolute; width: 100%; top: 0px; border: solid; z-index: 1000;">        
            <NavMenu PageTitle=@_pagetitle />
        </div>

        <main style="height: calc(100% - 2em); position: relative; overflow-y: auto; border: solid; top: 2em;" @onscroll=@OnScroll>
            <article class="px-2">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code
{
    private string _pagetitle;

    public bool HasScrolled { get; set; }

    public string PageTitle
    {
        get => _pagetitle;
        set
        {
            _pagetitle = value;
            InvokeAsync(() => StateHasChanged());
        }
    }

    private void OnScroll()
    {
        HasScrolled = true;
    }

}
