
<div class="menu-container bg-sec">
    <div class="menu-bar">
        <div class="container-fluid" style="padding: 0.7rem;">        
            <div class="navbar-toggler" @onclick="ToggleNavMenu" style="border: none; display: inline-block;
                width: calc(100% - 1.5rem);">
                <span class="oi @(NavMenuIconClass)" style="margin-right: 0.5rem;"></span>
                <span class="navbar-brand" href=""><strong>@PageTitle</strong></span>
            </div>
            <div style="float: right;"><img src="images/frog.svg" style="width: 1.5rem; height: auto;" /></div>
        </div>
    </div>

    <div class="@NavMenuCssClass" style="padding: 0.5rem;" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="menu-item">
                <NavLink href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <hr style="margin: 0.1rem" />
            <div class="menu-item">
                <NavLink href="random">
                    <span class="oi oi-random" aria-hidden="true"></span> Random
                </NavLink>
            </div>
            <div class="menu-item">
                <NavLink href="mostviewed">
                    <span class="oi oi-eye" aria-hidden="true"></span> Most Viewed
                </NavLink>
            </div>
            <div class="menu-item">
                <NavLink href="currentevents">
                    <span class="oi oi-bullhorn" aria-hidden="true"></span> Current Events
                </NavLink>
            </div>
            <div class="menu-item">
                <NavLink href="pictureoftheday">
                    <span class="oi oi-image" aria-hidden="true"></span> Picture of the Day
                </NavLink>
            </div>
            <div class="menu-item">
                <NavLink href="recentlyChanged">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Recently Changed
                </NavLink>
            </div>
            <div class="menu-item">
                <NavLink href="search">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search
                </NavLink>
            </div>
            <hr style="margin: 0.1rem" />
            <div class="menu-item">
                <NavLink href="articlehistory">
                    <span class="oi oi-list" aria-hidden="true"></span> History
                </NavLink>
            </div>
            <div class="menu-item">
                <NavLink href="bookmarks">
                    <span class="oi oi-badge" aria-hidden="true"></span> Bookmarks
                </NavLink>
            </div>
            <hr style="margin: 0.1rem" />
            <div class="menu-item">
                <NavLink href="settings">
                    <span class="oi oi-cog" aria-hidden="true"></span> Settings
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    [Parameter]
    public string PageTitle { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "menucollapse" : "menushow";

    private string NavMenuIconClass => collapseNavMenu ? "oi-menu" : "oi-caret-bottom";

    protected override void OnInitialized()
    {
        collapseNavMenu = true;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void ForceCollapse()
    {
        collapseNavMenu = true;

        StateHasChanged();
    }

}
