
<div class="menu-container bg-sec">
    <div class="menu">
        <div class="container-fluid" style="padding: 0.7em;">        
            <div class="navbar-toggler" @onclick="ToggleNavMenu" style="border: none; display: inline-block;
                width: 100%;">
                <span class="navbar-brand" href=""><strong>@PageTitle</strong></span>
                @*<span class="navbar-toggler-icon oi-menu"></span>*@
            </div>
        </div>
    </div>

    <div class="@NavMenuCssClass menu" style="padding: 0.5em;" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3" style="padding: 0.5em;">
                <NavLink class="nav-link px-2" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3" style="padding: 0.5em;">
                <NavLink class="nav-link px-2" href="random">
                    <span class="oi oi-random" aria-hidden="true"></span> Random
                </NavLink>
            </div>
            <div class="nav-item px-3" style="padding: 0.5em;">
                <NavLink class="nav-link px-2" href="mostviewed">
                    <span class="oi oi-eye" aria-hidden="true"></span> Most Viewed
                </NavLink>
            </div>
            <div class="nav-item px-3" style="padding: 0.5em;">
                <NavLink class="nav-link px-2" href="currentevents">
                    <span class="oi oi-bullhorn" aria-hidden="true"></span> Current Events
                </NavLink>
            </div>
            <div class="nav-item px-3" style="padding: 0.5em;">
                <NavLink class="nav-link px-2" href="pictureoftheday">
                    <span class="oi oi-image" aria-hidden="true"></span> Picture of the Day
                </NavLink>
            </div>
            <div class="nav-item px-3" style="padding: 0.5em;">
                <NavLink class="nav-link px-2" href="recentlyChanged">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Recently Changed
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    [Parameter]
    public string PageTitle { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "menucollapse" : "menushow";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
