
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #111;
    --bg-color: #eef;
    --bg-color-dark: #dde;
    --bg-secondary: #bfbce0;
    --bg-app: #ccc;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #2e2e3b;
    --bg-color-dark: #1c1c25;
    --bg-secondary: #181826;
    --bg-app: #111;
    --heading-color: #818cab;
}


.bg-app {
    background-color: var(--bg-app);
}

.bg-prim {
    background-color: var(--bg-color);
}

.bg-prim-sel {
    background-color: Var(--bg-color-dark);
}

.bg-sec {
    background-color: var(--bg-secondary);
}

.font-col {
    color: var(--font-color);
}

.font-col a{
    color: var(--font-color);
}

.col-sec {
    color: var(--secondary-color);
}

.r-dropdown {
    color: var(--font-color) !important;
    background-color: var(--bg-color) !important;
    padding: 0.2rem !important;
    height: 2rem !important;
    margin: 0;
}
