@page "/"

<PageTitleSetter PageTitle="Home" />

<div class="text-light bg-dark m-1 mb-2 p-2 rounded-1">

    <p>Welcome to <strong>Wikkit</strong>. A modern feed reader for Wikipedia</p>

</div>

<div class="text-light bg-dark m-1 mb-2 p-2 rounded-1">

    <h2>Article Sections</h2>

    <dl class="list-group">
        <NavLink class="nav-link" href="random">
            <i class="oi oi-random float-start" aria-hidden="true"></i>
            <dt>Random</dt>
            <dd>A feed of randomly selected articles</dd>
            
        </NavLink>
        <dt><a href="/mostviewed">Most Viewed</a></dt>
        <dd>Todays most viewed articles</dd>
        <dt>Current Events</dt>
        <dd></dd>
        <dt>Picture of the Day</dt>
        <dd></dd>
        <dt><a href="/recentlyChanged">Recently Changed</a></dt>
        <dd>Articles that have recently been edited</dd>
    </dl>
    

</div>

<div class="text-light bg-dark m-1 mb-2 p-2 rounded-1">

    <h2>Links</h2>

    Donate to the Wikipedia Project

</div>


