@page "/"
@using Wikkit.Services;
@inject IJSRuntime JSRuntime
@inject SettingsService settingsService;

<PageTitleSetter PageTitle="Home" />

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <span>Welcome to <strong>Wikkit</strong>. A scrolling feed reader for Wikipedia</span>

</div>

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <h3>Feeds</h3>

    <ul class="list-def">
        <NavLink class="nav-link" href="random">
            <li>
                <i class="oi oi-random"></i>
                <strong>Random</strong><br />
                A feed of randomly selected articles
            </li>
            <hr class="solid col-sec">
        </NavLink>
        <NavLink class="nav-link" href="mostviewed">
            <li>
                <i class="oi oi-eye"></i>
                <strong>Most Viewed</strong><br />
                Todays most viewed articles
            </li>
            <hr class="solid col-sec">
        </NavLink>
        <NavLink class="nav-link" href="currentevents">
            <li>
                <i class="oi oi-bullhorn"></i>
                <strong>Current Events</strong><br />
                Articles featuring in current world events
            </li>
            <hr class="solid col-sec">
        </NavLink>
        <NavLink class="nav-link" href="pictureoftheday">
            <li>
                <i class="oi oi-image"></i>
                <strong>Picture of the Day</strong><br />
                A feed of the lastest featured images
            </li>
            <hr class="solid col-sec">
        </NavLink>
        <NavLink class="nav-link" href="recentlyChanged">
            <li>
                <i class="oi oi-pencil"></i>
                <strong>Recently Changed</strong><br />
                Articles that have recently been edited
            </li>
            <hr class="solid col-sec">
        </NavLink>
        <NavLink class="nav-link" href="search">
            <li>
                <i class="oi oi-magnifying-glass"></i>
                <strong>Search</strong><br />
                Search for articles
            </li>
        </NavLink>
    </ul>   

</div>

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <ul class="list-def">
        <NavLink class="nav-link" href="articlehistory">
            <li>
                <i class="oi oi-list"></i>
                <strong>History</strong><br />
                List of viewed articles
            </li>
            <hr class="solid col-sec">
        </NavLink>
        <NavLink class="nav-link" href="bookmarks">
            <li>
                <i class="oi oi-cog"></i>
                <strong>Bookmarks</strong><br />
                Bookmarked articles
            </li>
        </NavLink>
    </ul>
</div>

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <ul class="list-def">
        <NavLink class="nav-link" href="settings">
            <li>
                <i class="oi oi-cog"></i>
                <strong>Settings</strong><br />
                App settings
            </li>
        </NavLink>
    </ul>
</div>

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <h3>Links</h3>

    <ul class="list-def">
        <li><i class="oi oi-external-link"></i><a href="https://www.wikipedia.org/">Wikipedia</a></li>
        <li><i class="oi oi-external-link"></i><a href="https://github.com/DiegoJunior0/Wikkit">Project on Github</a></li>
    </ul>
    

</div>

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <h3>About</h3>

    <ul class="list-def">
        <li>Version: @AppInfo.Current.VersionString</li>
        <li>Contact/support: wikkitapp@gmail.com</li>
        <li>Copyright: © Henry Skinner @DateTime.Now.ToString("yyyy")</li>
    </ul>

</div>

@code {
 
    protected override async Task OnInitializedAsync()
    {

        await settingsService.UpdateTheme();

        await settingsService.UpdateFontSize();

    }

}


