@page "/"
@inject IJSRuntime JSRuntime

<PageTitleSetter PageTitle="Home" />

<div class="bg-prim">

    <p>Welcome to <strong>Wikkit</strong>. A modern feed reader for Wikipedia</p>

</div>

<div class="bg-prim">

    <h2>Article Sections</h2>

    <ul class="">
        <NavLink class="nav-link" href="random">
            <li class=""><i class="me-3 oi oi-random"></i>
                <strong>Random</strong><br />
                A feed of randomly selected articles
            </li>            
        </NavLink>
        <li><a href="/mostviewed">Most Viewed</a>Todays most viewed articles</li>
        <li><a href="/currentevents">Current Events</a></li>
        <li>Articles featuring in current world events</li>
        <li><a href="/pictureoftheday">Picture of the Day</a></li>
        <li><a href="/recentlyChanged">Recently Changed</a></li>
        <li>Articles that have recently been edited</li>
    </ul>
    

</div>

<div class="bg-prim">

    <h2>Links</h2>

    Donate to the Wikipedia Project

</div>

<div>

    <button @onclick=@SetDarkMode >
        Dark Mode!
    </button>
</div>

@code {
    private bool _darkMode;
    private const string darkModeKeyStr = "DarkMode";

    protected override async Task OnInitializedAsync()
    {

        _darkMode = Preferences.Default.Get(darkModeKeyStr, false);

        await SetTheme();

    }

    private async void SetDarkMode()
    {
        _darkMode = !_darkMode;

        Preferences.Default.Set(darkModeKeyStr, _darkMode);

        await SetTheme();
    } 

    private async Task SetTheme()
    {
        if (_darkMode)
        {
            var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/setTheme.js");
            await module.InvokeVoidAsync("setTheme", "dark");
        }
        else
        {
            var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/setTheme.js");
            await module.InvokeVoidAsync("setTheme", "");
        }
    }

}


