@page "/"
@inject IJSRuntime JSRuntime

<PageTitleSetter PageTitle="Home" />

<div class="bg-prim b-rad-def p-def mt-def">

    <span>Welcome to <strong>Wikkit</strong>. A modern feed reader for Wikipedia</span>

</div>

<div class="bg-prim b-rad-def p-def mt-def">

    <h3>Article Sections</h3>

    <ul class="list-def">
        <NavLink class="nav-link" href="random">
            <li>
                <i class="oi oi-random"></i>
                <strong>Random</strong><br />
                A feed of randomly selected articles
            </li>
            <hr class="solid col-sec">
        </NavLink>
        <NavLink class="nav-link" href="mostviewed">
            <li>
                <i class="oi oi-eye"></i>
                <strong>Most Viewed</strong><br />
                Todays most viewed articles
            </li>
            <hr class="solid col-sec">
        </NavLink>
        <NavLink class="nav-link" href="currentevents">
            <li>
                <i class="oi oi-bullhorn"></i>
                <strong>Current Events</strong><br />
                Articles featuring in current world events
            </li>
            <hr class="solid col-sec">
        </NavLink>
        <NavLink class="nav-link" href="pictureoftheday">
            <li>
                <i class="oi oi-image"></i>
                <strong>Picture of the Day</strong><br />
                A feed of the lastest featured images
            </li>
            <hr class="solid col-sec">
        </NavLink>
        <NavLink class="nav-link" href="recentlyChanged">
            <li>
                <i class="oi oi-pencil"></i>
                <strong>Recently Changed</strong><br />
                Articles that have recently been edited
            </li>
        </NavLink>
    </ul>   

</div>

<div class="bg-prim b-rad-def p-def mt-def">

    <h3>Links</h3>

    <ul class="list-def">
        <li><i class="oi oi-external-link"></i><a href="https://www.wikipedia.org/">Wikipedia</a></li>
        <li><i class="oi oi-external-link"></i><a href="https://github.com/DiegoJunior0/Wikkit">Project on Github</a></li>
    </ul>
    

</div>

<div class="bg-prim b-rad-def p-def mt-def">

    <h3>Settings</h3>

    <ul class="list-def">
        <li style="margin: 1.2rem 0;">Dark Mode <RadzenSwitch @bind-Value=@_darkMode 
            Change=@(args => SetDarkMode(args)) style="float: right;" /> </li>
        <li style="margin: 1.2rem 0;">
            Font Size <RadzenDropDown TValue="string" @bind-Value=@_fontsize class="r-dropdown"
            Data=@fontSizes Change=@(args => SetFontSize($"{args}")) style="float: right; width: 40%;" /></li>
    </ul>
</div>

@code {
    private bool _darkMode;
    private string _fontsize;

    private const string darkModeKeyStr = "DarkMode";
    private const string fontSizeKeyStr = "FontSize";

    private List<string> fontSizes = new() {"small", "medium", "large", "extralarge"} ;

    protected override async Task OnInitializedAsync()
    {

        _darkMode = Preferences.Default.Get(darkModeKeyStr, true);

        _fontsize = Preferences.Default.Get(fontSizeKeyStr, "medium");

        await UpdateTheme();

        await UpdateFontSize();

    }

    private async void SetDarkMode(bool value)
    {
        _darkMode = value;

        Preferences.Default.Set(darkModeKeyStr, _darkMode);

        await UpdateTheme();
    }

    private async void SetFontSize(string value)
    {
        _fontsize = value;

        Preferences.Default.Set(fontSizeKeyStr, _fontsize);

        await UpdateFontSize();
    }

    private async Task UpdateTheme()
    {
        if (_darkMode)
        {
            var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/setTheme.js");
            await module.InvokeVoidAsync("setTheme", "dark");
        }
        else
        {
            var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/setTheme.js");
            await module.InvokeVoidAsync("setTheme", "");
        }
    }

    private async Task UpdateFontSize()
    {
        
        var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/setTheme.js");
        await module.InvokeVoidAsync("setFontSize", _fontsize);

    }

}


