@page "/licences"

<PageTitleSetter PageTitle="Licences" />

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <ul class="list-def">
        <li>
            <strong>Wikkit</strong><br />
            Copyright 2023 Henry Skinner<br />
            Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.
            You may obtain a copy of the License at <strong><a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a></strong>
        </li>
    </ul>
        
    <ul class="list-def">
        <li><strong>Razden Community Components</strong><br />
            Copyright 2016-2023 <strong><a href="https://www.radzen.com/">Radzen Ltd.</a></strong> All Rights Reserved
        </li>
        <li><strong>Infinite Scroll</strong><br />
            Copyright 2020 Sven Matthys<br />
            <strong><a href="https://github.com/SveNord/Sve-Blazor-InfiniteScroll">Github project</a></strong>
        </li>
        <li>
            <strong>Creative-Tail-Animal-frog.svg</strong><br />
            Copyright Creative Tail <br />
            Licenced under creative commons 
            <strong><a href="https://creativecommons.org/licenses/by/4.0/deed.en">Attribution 4.0 International license</a></strong>
        </li>
    </ul>

</div>


@code {

}
