@page "/licences"

<PageTitleSetter PageTitle="Licences" />

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">
        
    <ul class="list-def">
        <li><strong>Razden Community Components</strong><br />
            © 2016-2023 <a href="https://www.radzen.com/">Radzen Ltd.</a> All Rights Reserved
        </li>
        <li><strong>Infinite Scroll</strong><br />
            Copyright © 2020 Sven Matthys<br />
            <a href="https://github.com/SveNord/Sve-Blazor-InfiniteScroll">Github project</a>
        </li>
        <li>
            <strong>Creative-Tail-Animal-frog.svg</strong><br />
            © Creative Tail <br />
            Licenced under creative commons 
            <a href="https://creativecommons.org/licenses/by/4.0/deed.en">Attribution 4.0 International license</a>
        </li>
    </ul>

</div>


@code {

}
