@page "/mostviewed"
@using Wikkit.Data;
@inject WikipediaDataService dataService;

<PageTitleSetter PageTitle="Most Viewed" />

<PullToReload OnReload="@Reload" />

@if (articles == null || articles.Count == 0)
{
    <div class="p-def">Loading...</div>
}
else
{
    <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => GetArticles()">

        @foreach (var article in articles)
        {
            <ArticleCard ArticleData=article />
        }

        <span id="observerTarget">
            <ArticleCard Title="Loading..." />
        </span>

    </InfiniteScroll>

}

@code {

    List<ArticlePageData> articles = new();

    private int viewedIndex = 0;
    private const int articleCount = 10;

    protected override async Task OnInitializedAsync()
    {
        await GetArticles();
    }

    private async Task GetArticles()
    {
        var newArticles = await dataService.GetMostViewed(articleCount, viewedIndex);

        articles.AddRange(newArticles);

        viewedIndex += articleCount;
    }

    private async Task Reload() 
    {
        articles.Clear();

        viewedIndex = 0;

        await GetArticles();
    }

}
