@page "/random"
@using Wikkit.Data
@inject WikipediaDataService wikipediaDataService

<PageTitleSetter PageTitle="Random" />

@if (articles == null || articles.Count == 0)
{
    <div>Loading...</div>
} else
{
    <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => LoadMore()">

        @foreach (var article in articles)
        {
            <ArticleCard ArticleData=article />        
        }

        <span id="observerTarget">
            <ArticleCard Title="Loading..." />
        </span>
    </InfiniteScroll>
    
}


@code {
    List<ArticlePageData> articles = new();

    private const int loadOnStart = 20;
    private const int loadMore = 10;

    protected override async Task OnInitializedAsync()
    {
        await GetArticles(loadOnStart);
    }

    private async Task GetArticles(int articleCount)
    {
        var newArticles = await wikipediaDataService.GetRandomArticles(articleCount);
        articles.AddRange(newArticles);
    }



    private async Task LoadMore()
    {
        await GetArticles(loadMore);
    }

}
