@page "/recentlyChanged"
@using Wikkit.Data;
@inject WikipediaDataService dataService;

<PageTitleSetter PageTitle="Recently Changed" />

@if (articles == null || articles.Count == 0)
{
    <div class="p-def">Loading...</div>
}
else
{
    <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => GetArticles()">

        @foreach (var article in articles)
        {
            <ArticleCard ArticleData=article />
        }

        <span id="observerTarget">
            <ArticleCard Title="Loading..." />
        </span>

    </InfiniteScroll>

}

@code {

    List<ArticlePageData> articles = new();

    private int viewedIndex = 0;
    private const int articleCount = 10;

    private string _cont = "";

    protected override async Task OnInitializedAsync()
    {
        await GetArticles();
    }

    private async Task GetArticles()
    {
        (var newArticles, string cont) = await dataService.GetRecentlyChanged(articleCount, _cont);

        articles.AddRange(newArticles);

        _cont = cont;

        viewedIndex += articleCount;
    }

}
