@page "/settings"
@using Microsoft.Extensions.Logging;
@using Wikkit.Services;
@using Wikkit.Data
@inject IJSRuntime JSRuntime
@inject SettingsService settings
@inject Logger<WikipediaDataService> logger
@inject ArticleHistoryService history

<PageTitleSetter PageTitle="Search" />

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <h3>Visual</h3>

    <ul class="list-def">
        <li style="margin: 1.2rem 0;">
            Dark Mode <RadzenSwitch @bind-Value=@currentSettings.DarkMode
                                    Change=@(args => settings.SetDarkMode(args)) style="float: right;" />
        </li>
        <li style="margin: 1.2rem 0;">
            Font Size <RadzenDropDown TValue="string" @bind-Value=@currentSettings.FontSize class="r-dropdown"
                                      Data=@fontSizes Change=@(args => settings.SetFontSize($"{args}")) style="float: right; width: 40%;" />
        </li>
    </ul>
</div>

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <h3>Feeds</h3>

    <ul class="list-def">
        <li style="margin: 1.2rem 0;">
            Randomize Pictures Feed <RadzenSwitch @bind-Value=@currentSettings.RandomizePictures
                                    Change=@(() => settings.UpdateSettings(currentSettings)) style="float: right;" />
        </li>
    </ul>
</div>

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <h3>History/Bookmarks</h3>

    <ul class="list-def">
        <li style="margin: 1.2rem 0;">
            Clear History <RadzenButton Text="Clear" Click=@(() => history.ClearHistory()) style="width=25%; float: right;" />
        </li>
    </ul>
</div>

<div class="bg-prim b-rad-def p-def mt-def ml-def mr-def">

    <h3>Error Log</h3>

    <ul class="list-def">
        <li style="margin: 1.2rem 0;">
            
        </li>
    </ul>
</div>

@code {
    SettingsData currentSettings;

    private List<string> fontSizes = new() { "small", "medium", "large", "extralarge" };

    protected override void OnInitialized()
    {
        currentSettings = settings.GetSettings();
    }

}
